@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* CSS RESET */
* {
  padding: 0;
  border: 0;
  margin: 0;
}
a {text-decoration: none;}
li {list-style: none;}

input {
  appearance: none;
  outline: none;
}
table {border-collapse: collapse;}

html {
  font-family: 'Noto Sans KR';
  font-size: 16px;
}


/*  */

nav > .container-fluid {
  width: 1280px;
}

.navbar-brand > img {
  height: 48px;
}


main {
  width: 1280px;
  margin: 0 auto;
}


.profile {
  /* background-color: blueviolet; 임시 */
  padding: 32px;
  margin: 16px 0;
  gap: 32px;
  display: flex;
  flex-direction: row;
}

.profile-img {
  width: 384px;
}

.profile-img > img {
  width: 384px;
  height: 384px;
  border-radius: 16px;
  margin: 16px 0 0;
}

.first-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 0 0 8px; */
}

.first-line > h1 {
  width: 384px;
  font-size: 48px;
  line-height: 72px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.tag {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

.list {
  margin: 24px 0;
}

.list > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

.profile-content > ol, ul {
  padding: 0%;
}


.my-post {
  padding: 24px;
  margin: 0 32px 32px;
  border-radius: 8px;
  border: 1px solid #ced4da;
}

.my-post > button {
  margin: 16px 0 0;
}

.comments {
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* padding: 16px; */
  /* border: 1px solid #ced4da; */
  border-radius: 8px;
}

footer {
  height: 120px;
}

.wrap {

  width: 100vw;
  height: 100vh;
  margin: auto;
}

.lead > span {
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 35% 65%;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  min-width: 900px;
}

.imgbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.active {
  background-color: #EEE;
  border-radius: 15%;
}